language: python

python:
  - "3.4"
  - "3.5"
  - "3.6"

matrix:
  include:
  - python: 3.7
    dist: xenial
    sudo: true

install:
  - pip install -r requirements-test.txt

script:
  - pytest -v tests/ --cov=m2cgen/
  - flake8 .

  # Since we develop a library, we want to make sure that it properly runs
  # after installation. We already ran into an issue when some files were
  # forgotten to be included in package_data and it was not caught by tests.

  # So first we run unit tests against raw source code and report coverage.
  - pytest -v tests/ --cov=m2cgen/ --ignore=tests/e2e/
  - coveralls

  # Then we install it as a library, remove source code and run e2e tests.
  - python setup.py install
  - rm -rfd m2cgen/
  - pytest -v tests/e2e/
