include LICENSE
recursive-include m2cgen VERSION.txt
recursive-include m2cgen linear_algebra.*
recursive-include m2cgen log1p.*
recursive-include m2cgen tanh.*
recursive-include m2cgen atan.*
global-exclude *.py[cod]
