[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
numpy = "*"
scikit-learn = "*"
lightgbm = "*"
xgboost = "*"

[requires]
python_version = "3.7"
