# Supported models
scikit-learn==1.0.1; python_version > "3.6"
scikit-learn==0.24.2; python_version <= "3.6"
xgboost==1.4.2
lightgbm==3.3.1
statsmodels==0.13.0; python_version > "3.6"
statsmodels==0.12.2; python_version <= "3.6"
sklearn-contrib-lightning==0.6.1

# Testing tools
flake8==4.0.1
isort==5.10.0
pytest==6.2.5
pytest-mock==3.6.1
pytest-cov==3.0.0
py-mini-racer==0.6.0

# Other stuff
numpy==1.21.3; python_version > "3.6"
numpy==1.19.5; python_version <= "3.6"
scipy==1.7.1; python_version > "3.6"
scipy==1.5.4; python_version <= "3.6"
