# Other stuff
numpy==1.23.3; python_version > "3.7"
numpy==1.21.5; python_version <= "3.7"
scipy==1.9.1; python_version > "3.7"
scipy==1.7.3; python_version <= "3.7"

# Cython
Cython==0.29.32; sys_platform == 'darwin' and platform_machine == 'arm64'

# Supported models
scikit-learn==1.0.2
xgboost==1.6.2
lightgbm==3.3.2
statsmodels==0.13.2
sklearn-contrib-lightning==0.6.2.post0

# Testing tools
flake8==5.0.4
isort==5.10.1
pytest==7.1.3
pytest-mock==3.8.2
pytest-cov==3.0.0
py-mini-racer==0.6.0

# Publishing
twine
